<?xml version="1.0"?>
<!--
/**
 * Copyright © Webscale. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webscale" translate="label" sortOrder="9999" class="webscale-config-tab">
            <label>Webscale</label>
        </tab>
        <section id="webscale_varnish" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Webscale Varnish</label>
            <tab>webscale</tab>
            <resource>Webscale_Varnish::varnish_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <frontend_model>Webscale\Varnish\Block\System\Config\Settings</frontend_model>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="application" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Application</label>
                <depends>
                    <field id="webscale_varnish/general/enabled">1</field>
                </depends>
                <field id="token" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Token</label>
                    <frontend_class>required-entry</frontend_class>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="application_id" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Application Id</label>
                </field>
            </group>
            <group id="cache_events" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cache Events</label>
                <depends>
                    <field id="webscale_varnish/general/enabled">1</field>
                </depends>
                <field id="flush_all_events" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Flush All Events</label>
                    <source_model>Webscale\Varnish\Model\Config\Source\FlushAllEvents</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="partial_invalidate_events" translate="label" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Partial Invalidate Events</label>
                    <source_model>Webscale\Varnish\Model\Config\Source\InvalidateEvents</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
            <group id="flush_cache_schedule" translate="label" type="text" sortOrder="26" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Scheduled Full Cache Flush</label>
                <frontend_model>Webscale\Varnish\Block\System\Config\Scheduled</frontend_model>
                <depends>
                    <field id="webscale_varnish/general/enabled">1</field>
                </depends>
                <field id="frequency" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Webscale\Varnish\Model\Config\Source\Cron\Frequency</source_model>
                    <backend_model>Webscale\Varnish\Model\Config\Cron\ScheduleFrequency</backend_model>
                    <comment model="Webscale\Varnish\Block\Adminhtml\Form\Renderer\Config\ScheduleEveryFieldComment" />
                </field>
                <field id="every" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Every</label>
                    <frontend_model>Webscale\Varnish\Block\Adminhtml\Form\Renderer\Config\ScheduleEveryFieldConfig</frontend_model>
                    <validate>required-entry validate-digits</validate>
                    <depends>
                        <field id="*/*/frequency">custom</field>
                    </depends>
                </field>
                <field id="starting_at" translate="label" type="time" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Starting at</label>
                    <depends>
                        <field id="*/*/frequency">custom</field>
                    </depends>
                </field>
                <field id="start_time" translate="label comment" sortOrder="2" type="time" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Time</label>
                    <depends>
                        <field id="*/*/frequency">D</field>
                    </depends>
                </field>
            </group>
            <group id="developer" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Developer</label>
                <depends>
                    <field id="webscale_varnish/general/enabled">1</field>
                </depends>
                <field id="debug" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
